@font-face {
  font-family: LetterGothicStd;
  src: local('Letter Gothic Std Medium'), url("../fonts/LetterGothicStd/LetterGothicStd.otf") format("opentype");
}

@font-face {
  font-family: LetterGothicStd;
  font-weight: bold;
  src: local('Letter Gothic Std Bold'), url("../fonts/LetterGothicStd/LetterGothicStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto/robotolight.woff2') format('woff2'), url('../fonts/Roboto/robotolight.woff') format('woff'), url('../fonts/Roboto/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
