html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'LetterGothicStd', sans-serif;
  font-weight: normal;
}

.landing {
  position: relative;
  width: 100%;
  height: 100%;
}

/** HOME SECTION **/
.landing-home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  text-align: center;
}

.main-greetings {
  margin: 0;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

.main-greetings span {
  display: block;
  padding: 0 0 5px 0;
}

.main-greetings strong {
  display: block;
  position: relative;
  font-weight: bold;
  background: #fff;
  color: #000;
  padding: 8px 5px 0 5px;
  margin: 10px 0 0 0;
}

.main-greetings strong::before {
  content: ' ';
  display: block;
  position: absolute;
  top: -10px; left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.main-slogan {
  margin: 15px 0 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.lead-action {
  display: inline-block;
  width: 155px;
  height: 40px;
  margin-top: 40px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
}

.scrolldown-caller {
  display: block;
  position: absolute;
  bottom: 30px; left: 50%;
  width: 50px;
  height: 35px;
  margin-left: -25px;
  background: url('../img/scrolldown.png') center center no-repeat;
  background-size: contain;
}

@media (max-height: 420px) {
  .scrolldown-caller {
    display: none;
  }
}

@media (min-width: 640px) {
  .main-greetings {
    font-size: 60px;
  }

  .main-greetings strong {
    padding-top: 10px;
  }

  .main-slogan {
    font-size: 42px;
  }

  .lead-action {
    width: 250px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
  }
}

@media (min-width: 640px) and (min-height: 720px) {
  .lead-action {
    margin-top: 80px;
  }

  .scrolldown-caller {
    bottom: 60px;
  }
}

@media (min-width: 1024px) {
  .main-greetings {
    font-size: 60px;
  }

  .main-greetings span {
    display: inline-block;
  }

  .main-greetings strong {
    display: inline-block;
  }

  .main-slogan {
    font-size: 45px;
  }
}

/** ADVANTAGES COMPONENTS **/
.advantage {
  text-align: center;
  padding-bottom: 30px;
}

.advantage__pic {
  position: relative;
  display: block;
  width: 100%;
  height: 110px;
  padding: 30px 0;
  line-height: 110px;
  box-sizing: content-box;
}

.advantage__pic img {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.advantage__pic::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0; left: 50%;
  width: 150px;
  height: 2px;
  margin-left: -75px;
  background: #000;
}

.advantage__title {
  padding: 0;
  margin: 15px 0 0 0;
  font-size: 27px;
  font-weight: normal;
}

.advantage__title strong {
  font-weight: bold;
  text-transform: uppercase;
}

.advantage__text {
  margin: 5px 0 0 0;
  font-size: 19px;
}

@media (min-width: 640px) {
  .advantages-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
  }

  .advantages-list .advantage {
    width: 160px;
  }
}

@media (min-width: 1024px) {
  .advantages-list {
    max-width: 940px;
  }

  .advantages-list .advantage {
    width: 250px;
  }

  .advantages-list .advantage__text {
    font-size: 12px;
  }
}

/** ABOUT PAGE SECTION **/
.landing-about {
  background: #fff;
  padding: 100px 30px;
}

.landing-about__title {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 30px 0;
  margin: 0 auto 20px auto;
  text-align: center;
}

.landing-about__title h2 {
  margin: 0;
  font-weight: bold;
  font-size: 37px;
  text-transform: uppercase;
}

.landing-about__title h3 {
  margin: 5px 0 0 0;
  color: #505050;
  font-weight: normal;
  font-size: 30px;
}

.landing-about__title::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0; left: 2%;
  width: 96%;
  height: 2px;
  background: #000;
}

@media (min-width: 1024px) {
  .landing-about {
    padding-bottom: 50px;
  }
}

/** TECHNOLOGY PAGE SECTION **/
.landing-technology {
  background: #000;
  color: #fff;
  padding: 90px 40px 90px 25px;
}

.landing-technology__title {
  position: relative;
  padding: 30px 0 15px 0;
  margin: 0;
  font-size: 34px;
  font-weight: normal;
  text-transform: uppercase;
}

.landing-technology__text {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 15px 0;
  padding: 0;
}

.landing-technology__pic {
  display: block;
  width: 100%;
  max-width: 598px;
  height: auto;
  margin: 90px auto 0 auto;
}

@media (min-width: 640px) {
  .landing-technology__title::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    max-width: 410px;
    height: 3px;
    background: #fff;
  }
}

@media (min-width: 1024px) {
  .landing-technology {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 160px 25px 90px 90px;
  }

  .landing-technology__body {
    width: 410px;
    min-width: 410px;
  }

  .landing-technology__pic {
    max-width: 50%;
    margin: 0;
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  .landing-technology__pic {
    width: 598px;
    max-width: 598px;
  }
}

@media (min-width: 1440px) {
  .landing-technology {
    justify-content: center;
  }

  .landing-technology__pic {
    margin-left: 90px;
  }
}

/** TESTIMONIALS COMPONENTS **/
.testimonial {
  margin: 0;
  padding: 0;
}

.testimonial__body {
  text-align: center;
}

.testimonial__text {
  font-size: 15px;
  margin: 0 0 15px 0;
  text-align: center;
}

.testimonial__footer {
  position: relative;
  padding: 15px 0;
  text-align: right;
}

.testimonial__footer::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0; right: 0;
  width: 230px; height: 2px;
  background: #000;
}

.testimonial__author {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
}

.testimonials-list {
  padding: 0;
  margin: 0;
}

.testimonials-list .testimonial {
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  .testimonials-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
  }

  .testimonials-list .testimonial {
    width: 250px;
    margin-left: 50px;
  }

  .testimonials-list .testimonial:first-child {
    margin-left: 0;
  }
}

/** TESTIMONIALS PAGE SECTION **/
.landing-testimonials {
  background: #fff;
  padding: 15px 30px;
}

.landing-testimonials__title {
  position: relative;
  max-width: 570px;
  padding: 45px 0;
  margin: 0 auto;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 640px) {
  .landing-testimonials {
    padding: 15px 50px;
  }
}

@media (min-width: 1024px) {
  .landing-testimonials {
    padding-bottom: 110px;
  }

  .landing-testimonials__title {
    font-size: 34px;
    margin: 80px auto 90px auto;
  }

  .landing-testimonials__title::after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 3px;
    background: #000;
  }
}

/** MENU COMPONENTS **/
.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: block;
  list-style-type: none;
}

.menu-item a {
  display: inline-block;
  padding: 15px;
}

/** PAGE FOOTER **/
.landing-footer {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.landing-footer__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.landing-footer a {
  color: #fff;
  text-decoration: none;
}

.landing-footer__copyright {
  padding: 15px;
  font-style: normal;
}

@media (min-width: 640px) {
  .landing-footer__wrapper {
    justify-content: space-between;
    padding: 0 15px;
  }

  .landing-footer__copyright {
    padding: 0;
  }
}
